html{
  scroll-behavior: smooth;
}
.navbar:hover{
color:orange;
}
.navbar{
  color: black;
}
#btn1{
    border: 1px solid black; 
    margin-left:100px;
    color:black;
}
.heading1{
    font-family: serif;
    font-size: 32px;
    font-weight: bold;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 400px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }

  
  